fastapi
uvicorn
sqlalchemy
alembic
aiosqlite
python-dotenv
pydantic
pydantic-settings
passlib
bcrypt
python-jose
python-multipart
groq
langchain
langchain-groq
langgraph
chromadb
sentence-transformers
tavily-python
email-validator