fastapi
uvicorn
sqlalchemy
alembic
aiosqlite
python-dotenv
pydantic
pydantic-settings
passlib
bcrypt==4.0.1
python-jose
python-multipart
groq
langchain
langchain-groq
langgraph
email-validator
asyncpg